/*################### IMPORTS ##################################*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');



body {
    margin: 0;
    background-color: #efefef;
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

}

.container-principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.row-main {
    flex: 1;

}

main {
    margin-top: 20px;
    padding: 0 30px 0 30px ;
}

/* ########### CONTAINER BLANC ############### */

.bg-container {
    border-radius: 10px;
    background-color: rgb(40, 95, 122);
    color: #FFFFFF;
    padding: 20px;
}

.white-container-arround {
    background-color: #FFFFFF;
    padding: 20px;
    border: #99b4b3 solid 6px;
    border-radius: 20px;
}


/* ########### NAVBAR SECONDAIRE ############### */
.navlink-custom {
    padding: 5px 10px 5px 10px ;
    color: #FFFFFF;

}
.navlink-custom:hover {
    color: #c7c7c7;
    text-decoration: none;

}

.active {
    background-color: red;
}

/* ########### FORMULAIRES ############### */
.form-control, .input-group{
    border-radius: 10px;
}

.input-search {
    background-color: rgb(71, 71, 71);
    border-color: #222222;
}

/* ########### TABLEAUX ############### */
.table tr:hover {
    background-color: #2f2f2f;
    color: #FFFFFF;

}

.table td{
    border-color: #222222;
}
.hover-blue:hover {
    background-color: rgb(40, 78, 105);
}

/* ########### LISTE ############### */

.li-without-decoration {
    list-style:none;
}

.dropdown-menu {
    position: absolute;
    will-change: transform;
    top: 0;
    left: 0;
    transform: translate3d(0px, 38px, 0px);
}

/* ########### CARD ############### */

.card {
    border-radius: 10px;
}

/* ########### BUTTON ############### */

.btn{
    border-radius: 20px;
}

.btn-border-bottom {

}

/* ########### LINK ############### */

a{
    color: #474747;
    font-weight:bold;
}
a:hover {
    text-decoration: none;
    color: #0577BD;
}


/* ########### LINK MENU MEMBRES ############### */
.link-custom {
    color: rgba(71, 71, 71, 0.99);
    margin-bottom: 10px;
    margin-right: 10px;

}
.link-custom:hover {
    color: #ff9f00;
    text-decoration: none;
}
.border-link {
    border-bottom: solid #ff9f00 3px;
    margin: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* ########### TITRE ############### */
h1 {
    color: #474747;
}
h2 {
    color: #474747;
}
h3 {
    color: #555555;
}
h4 {
    color: #efefef;
}
h5 {
    color: #474747;
}
h6 {
    color: #555555;
}


.title {
    margin-bottom: 0px;
}

/* ########### BACKGROUND COLOR ############### */

.bg-blue {
    background-color: rgb(39, 57, 79);
}
.bg-dark {
    background-color: rgb(38, 38, 38);
}

/* ########### TEXT COLOR ############### */
.text-marine{
    color: #0a437b;
}

.text-green{
    color: #2d613b;
}
.text-white{
    color: #ffffff;
}

/* ########### FONT AWESOME ############### */
.fa-green{
    color: #53b76f;
}

/* ########### MARGIN ############### */
.m-5 {
    margin: 5px;
}





