/*################### IMPORTS ##################################*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');



body {
    margin: 0;
    background-color: #efefef;
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

}

.container-principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.row-main {
    flex: 1;

}

main {
    margin-top: 20px;
    padding: 0 30px 0 30px ;
}

/* ########### CARD ############### */

.card {
    border-radius: 10px;
}

/* ########### BUTTON ############### */

.btn{
    border-radius: 20px;
}

.btn-border-bottom {

}

/* ########### LINK ############### */

a{
    color: #474747;
    font-weight:bold;
}
a:hover {
    text-decoration: none;
    color: #0577BD;
}


/* ########### LINK MENU MEMBRES ############### */
.link-custom {
    color: rgb(39, 57, 79);
    margin-bottom: 10px;
    margin-right: 10px;

}
.link-custom:hover {
    color: #ff9f00;
    text-decoration: none;
}
.border-link {
    border-bottom: solid #ff9f00 3px;
    margin: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* ########### LISTE ############### */

.li-without-decoration{
    list-style: none;
}
/* ########### TITRE ############### */
h1 {
    color: rgb(39, 57, 79);
}
h2 {
    color: #474747;
}
h3 {
    color: #555555;
}
h4 {
    color: #efefef;
}
h5 {
    color: #474747;
}
h6 {
    color: #555555;
}


.title {
    margin-bottom: 0px;
}

/* ########### BACKGROUND COLOR ############### */

.bg-blue {
    background-color: rgb(39, 57, 79);
}
.bg-dark {
    background-color: rgb(38, 38, 38);
}

/* ########### TEXT COLOR ############### */
.text-marine{
    color: #0a437b;
}

.text-green{
    color: #2d613b;
}
.text-white{
    color: #ffffff;
}

/* ########### FONT AWESOME ############### */
.fa-green{
    color: #53b76f;
}

/* ########### MARGIN ############### */
.m-5 {
    margin: 5px;
}





