.sidebar {
    padding-top: 80px;
}
.div-sidebar {
    width: 7%;

}
.li-sidebar {
    border-right-color: rgba(0,0,0,0);
    border-left-color: rgba(0,0,0,0);
}

.link-sidebar {
    color: white;
}

.link-sidebar:hover {
    color: #d69836;
    text-decoration: none;
}

